body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    color: #cfcece;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    color: #ffffff; /* 标题栏文字颜色 */
    background-color: brown;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    font-size: large;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    width: 100%;
}

/* 其他样式保持不变 */

.footer {
    width: 100%;
    background-color: #333; /* 页脚背景色 */
    color: yellow; /* 页脚文字颜色 */
    text-align: center; /* 文字居中 */
    padding: 10px 0; /* 内边距 */
    position: absolute; /* 绝对定位 */
    bottom: 0;
    left: 0;
}

.footer a {
    color: #e4e48f;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}


h1 {
    position: relative;
    margin: auto;
    font-size: 5rem;
    word-spacing: 0.2em;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    color: transparent;
    background-color: #E8A95B;
    background-clip: text;
}

.notification-bar {
    position: absolute;
    top: 25%;
    width: 800px;
    height: 90px;
    background: inherit;
    margin: -10px;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .5);

    p {
        position: relative;
        color: #e4e48f;
        z-index: 10;
        font-size: 24px;
        line-height: 1.5;

    }

    &::after {
        position: absolute;
        content: "";
        background: inherit;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter: blur(10px);
        z-index: 0;
    }
}
