coloredlogs==15.0.1
datasets==2.18.0
fastapi==0.111.0
gradio==4.37.2
langchain==0.2.7
langchain_chroma==0.1.2
langchain_community==0.2.7
langchain_core==0.2.16
langchain_openai==0.1.15
langchain_qdrant==0.1.1
langchain_text_splitters==0.2.2
langgraph==0.1.8
llama_index==0.10.55
modelscope==1.15.0
pandas==2.2.2
peft==0.11.1
pydantic==2.8.2
PyYAML==6.0.1
qdrant_client==1.10.1
redis==5.0.7
SQLAlchemy==2.0.30
torch==2.3.1
transformers==4.41.2
uvicorn==0.30.1
python-docx==1.1.2
